<h1>My Favorite Soups </h1>
<hr>
<ul>
    <div class="d-flex flex-column overflow-scroll">
        <% for (soup of soups){%>
            <div class="p-3 m-3 border border-primary bg-light w-5">
                <a href="/favoritesoups/remove/<%= soup._id %>">X</a>
                <strong><a href="/soups/show/<%= soup._id %>"><%= soup.name %></a></strong>
                <br>

                <div class="p-3">
                    <strong>Soup Season:</strong>
                    <%=soup.season %>
                </div>

                <div class="p-3">
                    <strong>Soup Rating:</strong>
                    <%=soup.score %>/5
                </div>

                <div class="p-3">
                    <strong>Description:</strong>
                    <%=soup.description %>
                </div>

                <div class ="p-3 m-3 border border-primary bg-light">
                    <p>Ingredients</p>
                    <ol>
                        <% for (const ingredient in soup.ingredients) { %>
                            <li>
                                <%= ingredient %>
                            </li>
                        <% } %>
                    </ol>
                </div>

            </div>
        <% } %>
    </div>
</ul>