<ul>
    <div class="d-flex flex-wrap overflow-scroll">
        <% for (soup of soups){%>
            <div class="p-3 m-3 border border-primary bg-light w-25">
                <a href="/favoritesoups/remove/<%= soup._id %>">X</a>
                <strong><a href="/soups/show/<%= soup._id %>"><%= soup.name %></a></strong>
                <br>

                <div class="p-3">
                    <strong>Description:</strong>
                    <%=soup.description %>
                </div>
                <br>

                <div class ="p-3 m-3 border border-primary bg-light">
                    <p>Ingredients</p>
                    <ol>
                        <% for (const ingredient in soup.ingredients) { %>
                            <li>
                                <%= ingredient %>
                            </li>
                        <% } %>
                    </ol>
                </div>
                <br>

                <td>
                    </br>
                    Soup Season: <%= soup['season'] %>
                    </br>
                    Soup Score: <%= soup['score'] %>
                </td>
            </div>
        <% } %>
    </div>
</ul>