<h1>Soup Search Results </h1>
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Soup Name</th>
            <th>Soup Description</th>
            <th>Soup Ratings</th>
            <th>Season</th>
            <th>Vegetarian/Vegan?</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% for (soup of soups) { %>
      <tr class="mb-2"> 
        <td>
            <a href="/soups/show/<%= soup._id %>">
                <%=  soup.name %>
            </a>
        </td>
        <td>
            <ol>
                <%= soup.description %>
            </ol>
        </td>
        <td>
            <ol>
                <%= soup.score %>/5
            </ol>
        </td>
        <td>
            <ol>
                <%= soup.season %>
            </ol>
        </td>
        <td>
            <ol>
                <%= soup.vegetarian %>
            </ol>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>