<div class="bg-light m-5 p-2 border border-primary border-2">
    <div class="">
        <strong><%= soup.name %></strong>
    </div>
    <br>

    <div class="mb-1">
        Season: <%= soup.season %>
        <br>
        Soup Score: <%= soup.score %>
        <br>
        Vegetarian? <%= soup.vegetarian %>
        <br>
        Vegan? <%= soup.vegan %>
    </div>
    <br>

    <div class="p-3">
        <strong>Description:</strong>
        <%=soup.description %>
    </div>
    <br>

    <div class="p-3">
        <strong>Ingredients</strong>
        <ol>
            <% for (const ingredient in soup.ingredients) { %>
                <li>
                    <%= ingredient %>
                </li>
            <% } %>
        </ol>
    </div>

    <div class="p-3">
        <strong>Recipe</strong>
        <ol>
            <% for (const number in soup.recipe) { %>
                <li>
                    <%= soup.recipe[number] %>
                </li>
            <% } %>
        </ol>
    </div>

    <div><a href="/addSoup/<%= soup['_id'] %>">(Add to Favorite Soups)</a></div>

</div>