<h1>The soup recipes are</h1>
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Soup Name</th>
            <th>Soup Description</th>
            <th>Ingredients Needed</th>
            <th>Recipe Instructions</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% for (soup of soups) { %>
      <tr class="mb-2"> 
        <td>
            <a href="/soups/show/<%= soup._id %>">
                <%=  soup.Name %>
            </a>
        </td>
        <td>
            <ol>
                <%= soup.Description %>
            </ol>
        </td>
        <td>
            <ol>
                <% for (const ingredient in soup.ingredients) { %>
                    <li>
                        <%= ingredient %>
                    </li>
                <% } %>
            </ol>
        </td>
        <td>
            <ol>
                <% for (const number in soup.recipe) { %>
                    <li>
                        <%= soup.recipe[number] %>
                    </li>
                <% } %>
            </ol>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>