<div class="bg-light m-5 p-2 border border-primary border-2">
    <div class="">
        <span>
            <strong><%= soup.name %></strong>
        </span>
    </div>
    <br>

    <div class="mb-1">
        Season: <%= soup.season %>
        <br>
        Cultural Origins: <%= soup.origin %>
        <br>
        Soup Score: <%= soup.score %>
        <br>
        Vegetarian? <%= soup.vegetarian %>,
        Vegan? <%= soup.vegan %>
    </div>
    <br>
    <div class="p-3">
        <em><%=soup.description %></em>
    </div>
    <br>
    <div class="mb-1">
        <p>Ingredients</p>
        <ol>
            <% for (const ingredient in soup.ingredients) { %>
                <li>
                    <%= ingredient %>
                </li>
            <% } %>
        </ol>
    </div>
    <div>
        <p>Recipe</p>
        <ol>
            <% for (const number in soup.recipe) { %>
                <li>
                    <%= soup.recipe[number] %>
                </li>
            <% } %>
        </ol>
    </div>
    <div><a href="/addSoup/<%= soup['_id'] %>">(Add to Favorite Soups)</a></div>

</div>